<!DOCTYPE html>
<html>
  <head>
      <%- include layout/header %>
  </head>
  <body>

    <section class="home-head">
      <div class="col-xs-12 col-md-12 menu-header">
        <%- include layout/menu %>
      </div>

      <div class="formtag">
        <h1>Hello</h1>
        <p class="namerole"><%= `${user.role} ${user.username}`%></p>
        <a class="button-menu" href="/loan/approval">Start Work</a>
      </div>

    </section>



  </body>
</html>
