<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
  </head>
  <body>
    <ul>
      <li><a href="/loan/approval">Approval Loan Data</a></li>
      <li><a href="/loan/period">Period of Loan Data</a></li>
      <li><a href="/loan/returned">Returned Loan Data</a></li>
      <li><a href="/account">User Data Dropdown</a></li>
      <li><a href="/equipment">Equipment Data</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </body>
</html>
