<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SIGNUP FORM</title>
  </head>
  <body>
    <form class="" action="/signup" method="post">
      <p>Full Name</p>
      <input type="text" name="name"/>
      <p>Username</p>
      <input type="text" name="username"/>
      <p>Password</p>
      <input type="password" name="password"/>
      <p>Email</p>
      <input type="email" name="email"/>
      <p>Phone</p>
      <input type="telp" name="phone"/>
      <p>Address</p>
      <input type="text" name="address"/>
      <br>
      <br>
      <button type="submit" name="button">SIGN UP</button>
    </form>
  </body>
</html>
