  <ul class="menu">
    <li><a href="/home">Home</a></li>

    <li class="dropdown">
      <a class="btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
        Manage User
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/account/admin">Admin</a></li>
        <li><a class="dropdown-item" href="/account/user">Farmer</a></li>
      </ul>
    </li>
    <li><a href="/equipment">Equipment</a></li>
    <li class="dropdown">
      <a class="btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
        Rental Managing
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/loan/approval">Rental Applicated</a></li>
        <li><a class="dropdown-item" href="/loan/period">Rental Period</a></li>
        <li><a class="dropdown-item" href="/loan/returned">Closed Rental</a></li>
      </ul>
    </li>

    <li><a href="/logout">Logout</a></li>
  </ul>
